.App {
  text-align: center;
}

.App-header {
  background-color: #2d313a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tullball {
  display: grid;
  grid-template-rows: 250px 250px 250px;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 20px;
  row-gap: 1px;
}